<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1776EF11E9F1E9900133C96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1776F0A1E9F1E9A00133C96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1776F151E9F1E9A00133C96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
